/* Modal Styles */
.episodes-modal .modal-content {
  background-color: hsl(222, 34%, 15%) !important;
  color: hsl(222, 34%, 85%) !important; /* Light color for the text */
}

.episodes-modal .modal-header,
.episodes-modal .modal-footer {
  border-color: hsl(222, 34%, 20%);
}

.episodes-modal .modal-header .close {
  color: hsl(222, 34%, 85%) !important;
}

.episodes-modal .btn-secondary {
  background-color: hsl(222, 34%, 20%);
  border-color: hsl(222, 34%, 20%);
}

.episodes-modal .btn-warning {
  color: hsl(222, 34%, 15%);
}

/* Card Styles */
.episode-card-list.card {
  background-color: hsl(222, 34%, 15%);
  color: hsl(222, 34%, 85%);
  border: 1px solid hsl(222, 34%, 20%);
}

.episode-card-list .card-title,
.episode-card-list .card-text {
  color: hsl(222, 34%, 85%);
}

.episode-card-list .btn-warning {
  background-color: hsl(44, 100%, 50%);
  border-color: hsl(44, 100%, 50%);
  color: hsl(222, 34%, 15%);
}

.episode-card-list .btn-warning:hover {
  background-color: hsl(44, 100%, 40%);
  border-color: hsl(44, 100%, 40%);
}
