:root {
  --max-width: 1100px;
  --primary-color: ;
  --back-color: #070303;
  --btn-color: #ff9d2e;
  --fine-color: #dbca33;
  --frint-color: #231715;
  --primary-color: #007bff;
  --text-color: #bbb6b1;
  --glass-color: #13110f;
  --font-family: "Roboto", sans-serif;
  --transition: all 0.2s ease-in-out;
}
.bg-warn {
  background-color: var(--btn-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
  color: --var(--text-color);
  text-decoration: none !important;
  font-family: var(--font-family);
  color: var(--text-color);
}

/*header styles*/

.header {
  background: var(--back-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: var(--max-width); */
  margin: 0 auto;
  width: 100%;
  top: 0;
  position: sticky;
  margin-bottom: 1rem;
  background-color: var(--back-color);
  z-index: 999;
}

.header h1 {
  font-size: 2rem;
  margin: 0;
}

.header .logo {
  color: var(--primary-color);
}

.header ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.header ul li {
  margin-right: 1rem;
  color: --var(--text-color);
}

.header ul li .active-link {
  color: var(--btn-color);
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--glass-color);
  border-radius: 5px;
}

body {
  background-color: var(--back-color) !important;
  color: var(--text-color) !important;
}

.logo-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.text-white {
  color: var(--text-color);
}

/*
Home Display styles
*/

.home {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;

  height: 100vh;
  background-color: var(--back-color);
}
.home-hero {
  right: 0;
  position: absolute;
  top: 200px;
  width: 80%;
  height: 100%;
  padding-left: 40px;
}

/*
Side bar styles 
*/
.sidebar {
  background-color: var(--back-color);
  left: 0;
  position: fixed;
  top: 150px;
  gap: 1rem;
  width: 20%;
  height: 100%;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(76, 80, 76) 0px 0px 0px 6px,
    rgb(27, 27, 25) 0px 0px 0px 9px, rgb(155, 151, 149) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
  box-shadow: rgba(20, 239, 255, 0.4) 5px 5px, rgba(26, 134, 197, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(6, 138, 247, 0.1) 20px 20px,
    rgba(10, 162, 233, 0.05) 25px 25px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  bottom: 0;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.sidebar h4 {
  font-size: 1.5rem;
  margin: 0;
}
/*Home hero tittle*/
.home h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.image_title {
  width: 20px;
  height: 20px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--btn-color);
}
.episode-card {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--glass-color);
  margin-bottom: 1rem;
  height: 100px;
  color: var(--text-color);
}
.episode-card:hover {
  cursor: pointer;

  transition: var(--transition);
  transform: scale(1.1);

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  color: #161615;
}
.episode-card img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.episode-title {
  font-weight: bold;

  color: var(--btn-color);
}

/*styles for episode cards*/

.episode-card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 1rem;
  height: 400px;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  right: 20px;
  position: absolute;
  top: 20px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
